/* RESET
---------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,
strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,
section,summary,time,mark,audio,video {
  margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;
  vertical-align: baseline; background: transparent; font-weight:normal; }
body { line-height: 1; }
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section { display: block; }
nav ul { list-style: none; }
blockquote,q { quotes: none; }
blockquote:before,blockquote:after,
q:before,q:after { content: ''; content: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title],dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; border: 0; margin: 1em 0; padding: 0; }
input,select { vertical-align: middle; }
br.hurdle { clear: both; }
b, strong { font-weight: bold; }
i, em { font-style: italic; }
br.hurdle {clear:both;}


html {
  -webkit-font-smoothing: antialiased; }

body {
  font-family: 'Arvo', Georgia, serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  color: #333;
  background: #fbfbfb;
  line-height: 1.7;
}

.container {
  padding: 0;
  margin: 10px 20px;
}


#masthead {
  padding: 15px 0;
  background: #00a1d9;
  color: #fff;
}

#masthead .links a {
  padding: 0 10px;
}

#masthead img {
  display: none;
}

.note {
  display: none;
}

 .description {
    margin: 0 20px;
    text-align: center;
    line-height: 1.5em;
  }


.links {
  margin: 0 20px;
  text-align: center;
  line-height: 1.5em;
}

.links a:hover {
  border-bottom: 0px;
  color: #000;
}

#content {
  padding-top: 30px;
}

ul, ol {
  margin: 20px;
}

ul li {
  list-style-type: disc;
}

a {
  color: #04518c;
  text-decoration: none;
}

a:hover {
  color: #111111 }

em {
  font-style: normal;
  background: #FFFECA;}

blockquote {
  padding: 0 15px;
  margin-left: 15px;
  border-left: 1px solid #DDDDDD; }

h1 {
  font-family: 'Oswald', sans-serif;
  color: #222;
  font-size: 2em;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: .75em;
}

h2 {
  font-family: 'Merriweather', Georgia, serif;
  font-size: 2.5em;
  line-height: 1.1em;
  margin-bottom: 0.45em;
  font-weight: 600;
  color: #1C1C1C;
  text-align: center
}

  h2 a {
    color: #1C1C1C;
    border: none; }

  h2 a:hover {
    color: #1C1C1C;
    text-decoration: none; }

  h2 time {
    font-size: 0.65em;
    font-weight: 700;
    color: #AAAAAA;
    margin-left: 5px; }

.text h2 {
  margin: 0.3em;
}

h3 {
  margin-bottom:1em;
  font-weight: 700;
  color: #1C1C1C; }

  h3 a {
    color: #1C1C1C;
    border-bottom: 1px solid #1C1C1C; }

  h3 time {
    font-weight: 700;
    color: #AAAAAA;
    margin-left: 5px; }

    h3 time a,
    h3 time a:hover {
      color: #AAAAAA;
      border: none; }

h4 {
  font-size:1.1em;
  font-weight: bold;
  margin-bottom: 0.3em;
}

h5 {
  font-weight: 400;
  color: #AAAAAA;
  font-size: 1.1em;
  line-height: 1.1em;
  text-transform: uppercase;
  margin-bottom: .2em;
  margin-top: 1.5em;
}

p {
  margin: 0 0 1em 0;
}

p.meta {
  color: #b7b7b7;
  font-size: 1em;
  text-align: center
}

p.tweet {
  margin-top: 1.5em;
}

img {
  /*width: 100%;*/
  margin:0;
  padding: 0;
  display: block}

img.pad {
   margin:0 0 1em;}

.links img {
 width: 28px !important;
 height: 28px !important;
 display: inline-block !important;
 margin: 5px 8px -5px 8px;
}

article {
  margin-bottom: 6em;
  display: block;
  position: relative;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f0;
}

  article div.video {
    max-width: 640px;
    position: relative;
    padding-bottom: 51%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    margin-bottom: 1em;
    height: 0;
    overflow: hidden; }

    article div.video iframe,
    article div.video object,
    article div.video embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

article.archive-item {
        margin-bottom: 2.4em;
        display: block;
        position: relative;
        padding-bottom: 0px;
        border-bottom: 0px;
}

#about {
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 0 0 1em 0;
  font-weight: 300; }


nav.pagination {
  text-align: center;
  margin: 2em 0; }

  nav.pagination .disabled {
    color: #b7b7b7 }

  nav.pagination .current-page {
    color: #000000 }

  nav.pagination span,
  nav.pagination a {
    margin: 0 5px; }

  nav.pagination a,
  nav.pagination a:hover {
    text-decoration: none;
    border: none;
    color: #111 }

p a:hover,
#about a:hover,
.projects a:hover,
ol a:hover,
ul a:hover
{
  border-bottom: 1px solid #dadada;
}

.description a {
  color: #fbfbfb;
  border-bottom: 1px solid #dadada;
}

.description a:hover {
  color: #111111 }

#content {
  padding-top: 30px;
}

iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}

.iframe-rwd  {
position: relative;
padding-bottom: 60%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.iframe-rwd iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.ch-grid {
    margin: 0px;
    padding-bottom: 20px;
    list-style: none;
    display: block;
    text-align: left;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 120px;
    height: 120px;
    display: inline-block;
    margin: 0 5px 0 0;
}

.ch-item {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    cursor: default;
}

.ch-info {
    position: absolute;
    background: #00a1d9;
    width: inherit;
    height: inherit;
    overflow: hidden;
}
.ch-info p{
    display: block;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 10px 0px 10px;
    font-family: 'Open Sans', Arial, sans-serif;
}
.ch-img-1 {
    background-image: url(/img/interest-01-2.jpg);
}
.ch-img-2 {
    background-image: url(/img/interest-02-1.jpg);
}
.ch-img-3 {
    background-image: url(/img/interest-03-2.jpg);
}
.ch-item:hover .ch-info {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
table {
  border-spacing:0;
  border-collapse:collapse;
}

thead {
  padding: 5px 5px 5px 0;
  text-align: left;
}

td
{
  padding: 5px 10px 0 0;
  width: 210px;
}

sup {
font-size: 0.8em;
position: relative;
top: -0.5em;
}

sup, sub {
  line-height: 0;
}

pre, code {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 0.9em;
  padding-left: 15px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intrinsic-container {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#aboutpage hr {
  display: block;
  height: 1px;
  border: none;
  width: 100%;
  background: #000;
  background: rgba(0,0,0,0.2);
  margin: 30px auto;
}


  /*Medium size*/

@media only screen and (min-width:600px) {

  body {
    font-size: 1em;
    line-height: 1.8em;
    padding: 0;
    margin-top: 0;
  }

  .container {
    padding: 0;
    width: 75%;
    margin: 10px auto;
  }

  #masthead {
    text-align: center;
    padding: 30px 0;
    position: static !important;
  }

  #masthead hr {
    display: block;
    height: 1px;
    border: none;
    width: 75%;
    background: #fff;
    background: rgba(255,255,255,0.4);
    margin: 20px auto;
  }

  #aboutpage hr {
    margin: 50px auto;
  }

  a.description {
    position: static;
    padding-top: 10px !important;
  }

  .description {
    display: block;
    color: #fff;
    margin-top: 5px !important;
    width: 75%;
    margin:  0 auto;
  }

  .note {
    font-size: 0.8em;
    line-height: 2em;
    display: block;
    width: 75%;
    margin: 0 auto;
    color: #fbfbfb;
  }

  #masthead img {
    display: inline;
    width: 170px;
    height: 170px;
 -moz-border-radius: 85px;
  -webkit-border-radius: 85px;
  border-radius: 85px;
  }

}

/*Standard size*/

@media only screen and (min-width:900px) {

  #masthead {
    position: fixed !important;
    top: 0;
    left: 0;
    padding-top: 70px;
    width: 25%;
    height: 100%;
    z-index: 100;
  }

  aside {
    display: block;
}

  .description {
    width: 75%;
    margin:  0 auto;
  }

  #masthead hr {
    width: 60%;
    max-width: 190px;
  }

  .container {
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
  }

  #content {
    margin: 0 auto;
    padding: 50px 0 80px 0;
    width: 80%;
    max-width: 640px;
  }

  #about {
    margin: 0 auto;
    padding: 20px 0 40px 0;
  }

  }
