---
layout: default
title: My Blog
pagination:
  enabled: true
---

{% for post in paginator.posts %}

     {% case post.type %}
        {% when 'text' %}
            <article class="text">
            {% include text.html %}
        {% when 'link' %}
            <article class="link">
            {% include link.html %}
        {% when 'photo' %}
            <article class="photo">
            {% include photo.html %}
      {% endcase %}

    </article>

{% endfor %}

<nav class="pagination">

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        <a href="/blog" class="previous">← Prev</a>
    {% else %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous" >← Prev</a>
    {% endif %}
  {% else %}
    <span class="disabled">← Prev</span>
  {% endif %}

  <span>{{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next →</a>
  {% else %}
    <span class="disabled" >Next →</span>
  {% endif %}

</nav>
