<aside id="masthead">
    <a href="/"><img src="/img/avatar5.jpg" alt="Sylvia Ng" /></a>
  <p class="description">Hello, I'm Sylvia Ng. <br/>Find out more <a href="/about">about</a> me, my <a href="/">weblog</a> or recent <a href="/labs">projects</a>.</p>
  <p></p>
  <!--<p class="links"><a href="/categories/miniescapades/">Mini Escapades</a> <br/> <a href="http://throughthevisor.tumblr.com/" target="new">Through the Visor</a>-->
  <hr />
  <p class="note">I'm looking for good people to start fresh ideas and create opportunities.</p>
</aside>