<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>Sylvia Ng</title>

  <meta name="description" content="Sylvia Ng is a digital project manager who dabbles with photography and ux design.">
  <meta name="author" content="Sylvia Ng">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsiveslides.css">
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script src="/js/responsiveslides.min.js"></script>
  <script>
  $(function() {
    $(".rslides").responsiveSlides({
        auto: true,
        nav: false,
        maxwidth: "640"
      });
  });
</script>
</head>

<body>
  <div id="main">
    {% include masthead.html %}
    <div class="container">
      <div id="content">
        {{ content }}
      </div>
    </div>
  </div>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38614752-1']);
  _gaq.push(['_setDomainName', 'sylviang.me']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>